:root{
    --carta_h: 300px;
    --carta_w: 175px;
    --carta_padding: calc(var(--carta_h)/30);
    --carta_rad: calc(var(--carta_h)/30);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(109, 124, 109);             
}

h1, h2, h3, h6{
    color: white;
    text-align: center;
    margin: 10px;
}

#tapete{
    
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;     
    flex-wrap: wrap;  
}

.carta{
    height: var(--carta_h);
    width:var(--carta_w);
    border: 2px solid black;
    border-radius: var(--carta_rad);
    padding: var(--carta_padding);
    background-color: white;
    box-shadow: 0px 2px 2px rgba(182, 34, 34, 0.2);
    position: absolute;
    top: 0px;
    left: 0px;
    transition: .5s ease;
}

.augurio, #zonaMazo{
    height: var(--carta_h);
    width:var(--carta_w);
    border: 2px dotted white;
    margin: 15px;
    position: relative;
}

.lectura{
    
    position: absolute;
   
    top: 0px;
    left: 185px;
    
    width: calc(var(--carta_w)*3);
    opacity: 0;
    transition: .5s ease;
    background-color: brown;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    border: 1px solid lightgray;
    border-radius: 5px;
}

.lectura h6{
    font-style: italic;
}

.lectura p{
    max-width: calc(var(--carta_w)*2);
}

.augurio:hover .lectura{
    opacity: 1;
    transition-delay: .3s;
  }

.augurio div{
    z-index: -1;    
}

.anverso, .reverso{
    height: 100%;
    width: 100%;
    object-fit: fill;    
}

.desconocida img{
    content: url(../img/back.png);
}

.girada{
    transform: rotate(180deg);
}

.mazo{
    position: absolute;
}

